doctype html
html(lang="en")
  head
    title Freecodecamp API project: Exercise-tracker
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="theme-color" content="#1e5180")
    meta(name="msapplication-navbutton-color" content="#1e5180")
    meta(name="apple-mobile-web-app-status-bar-style" content="#1e5180")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
  body
    header
      h1 Freecodecamp API project: Exercise-tracker
    .page-content
      h2 User stories:
      ol.user-stories
        li I can create a new user by <code>POST /api/exercise/new-user</code> with name. Response example: <code>{"username":"mike","_id":"H10JDXfX7"}</code>, error: <code>{"error": "username already taken"}</code>.
        li I can post new exercise by <code>POST /api/exercise/add</code> with user_id*, description*, duration*, date (* - required fields). Response example: <code>{"username":"mike","description":"jumping","duration":10,"_id":"By_WdXGX7","date":"Thu Jan 01 2018"}</code>, error: <code>{"error": "wrong user_id"}</code>
        li I can get users's excercise log by <code>GET /api/exercise/log?{userId}[&from][&to][&limit]</code> ( <strong>{ }</strong> = required, <strong>[ ]</strong> = optional, <strong>from</strong>, <strong>to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number)
      h2 Create new user
      form(method="post" action="/api/exercise/new-user" onsubmit="return validateForm()").standard-form
        label
          span Username #[span(title="Required").asterisk *]
          input(type="text" placeholder="username" name="username")
        button(type="submit") Create
        .error-container
      h2 Add exercises
      form(method="post" action="/api/exercise/add" onsubmit="return validateForm()").standard-form
        label
          span User id #[span(title="Required").asterisk *]
          input(type="text" placeholder="User ID" name="userid" required)
        label
          span Description #[span(title="Required").asterisk *]
          input(type="text" placeholder="Exercise description" name="description" required)
        label
          span Duration #[span(title="Required").asterisk *]
          input(type="text" placeholder="Minutes" name="duration" required)
        label
          span Date
          input(type="text" placeholder="YYYY-MM-DD" name="date")
        button(type="submit") Create
        .error-container
      h2 Last added exercises (#{examplesQty}):
      ul.examples
        each href in examples
          li #[a(href=href) #{href}]
      h2 Github
      a(href="https://github.com/askov/exercise-tracker") https://github.com/askov/exercise-tracker
    footer
      | by #[a(href="https://www.freecodecamp.org/aleks-askov") Alex Askov]
    script(src="/js/script.js")
